body {
    background-color: antiquewhite;
}

hr {
    border: none;
    height: 2px;
    width: 97%;
    background-color: rgb(204, 178, 147);
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    color: rgb(57, 26, 12);
    text-shadow: 0 0 25px rgb(255, 123, 0);
}

span {
    color: chocolate;
}

img {
    width: 200px;
    height: auto;
    min-width: 200px;
    padding: 5px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "content sidebar";
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    align-content: start;
    margin-right: 10px;
    grid-area: content;
}

.item {
    background-color: rgb(239, 219, 193);
    margin: 5px;
    border: 1px solid rgb(201, 184, 163);
    border-radius: 5px;
    transition: 0.25s;
    max-width: 400px;
}

.item:hover {
    border: 1px solid rgb(61, 45, 24);
    box-shadow: 10px 15px 15px rgb(27, 15, 1);
    transform: scale(1.05);
    transition: 0.2s;
}

.head {
    display: flex;
    align-items: top;
    gap: 10px;
    color: rgb(129, 26, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.description {
    display: block;
    margin: 5px;
    height: 55px;
    color: rgb(70, 49, 20);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.sidebar {
    display: block;
    background-color: rgb(239, 219, 193);
    border: 1px solid rgb(201, 184, 163);
    margin: 5px;
    border-radius: 5px;
    grid-area: sidebar;
}

label {
    display: grid;
    place-items: center;
    place-self: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(130, 83, 32);
    border: 1px solid rgb(201, 184, 163);
    border-radius: 10px;
    background-color: rgb(208, 175, 137);
    margin: 20px;
    height: 50px;
    width: 80%;
    cursor: pointer
}

label:hover {
    border: 1px solid rgb(137, 96, 42);
}

#cheesecake:not(:checked)~.sidebar>.filter>label[for="cheesecake"],
#cake:not(:checked)~.sidebar>.filter>label[for="cake"],
#pie:not(:checked)~.sidebar>.filter>label[for="pie"],
#cupcake:not(:checked)~.sidebar>.filter>label[for="cupcake"],
#all:not(:checked)~.sidebar>.filter>label[for="all"] {
    background-color: rgb(228, 202, 170);
}

#cheesecake:checked~.content>.item:not(.cheesecake),
#cake:checked~.content>.item:not(.cake),
#pie:checked~.content>.item:not(.pie),
#cupcake:checked~.content>.item:not(.cupcake) {
    display: none;
}

.calories {
    display: block;
    text-align: center;
}

.cal-range {
    width: 65%;
}

.cal-name {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(137, 96, 42);
}

.cal-values {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-weight: bold;
    font-size: 18px;
    color: rgb(137, 96, 42);
    margin-top: -40px;
    margin-left: 35px
}